@import './base.css';
@import 'tailwindcss/index.css';

@theme {
  --color-background: #ffffff;
  --color-background-soft: #f8f8f8;
  --color-background-mute: #f2f2f2;
  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);
  --color-heading: #2c3e50;
  --color-text: #2c3e50;
}

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
